# Move this file to /etc/systemd/system/te-m-pi.service
# and enable with: systemctl enable te-m-pi.service

[Unit]
Description=Te-M-Pi Temperature monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/te-m-pi
ExecStart=/home/pi/te-m-pi/te-m-pi.py

RestartSec=10s
Restart=on-failure

User=pi
Group=pi

[Install]
WantedBy=default.target
